# Dashboard
streamlit
pandas
numpy
plotly
openpyxl
streamlit-option-menu

# Environment Variables
python-dotenv

# OpenAI
openai

# LangChain
langchain
langchain-openai
langchain-community

# Vector Database
chromadb==1.5.9

# PDF Processing


pypdf

# Tokenizer
tiktoken
langchain-text-splitters